<div id="body-wrapper">
<button mat-mini-fab  class="callback-button" routerLink='/ricerca'>
  <mat-icon  class="callback-icon" aria-label="Callback icon-button with a arrow icon">navigate_before</mat-icon>
</button>

<mat-card class="main-form" [@fadeIn]="fadeIn">
    <div class="example-container">
  <!--  <form #g="ngForm" (ngSubmit)="onSubmit(g.value)" class="example-container"> -->
        <form #g="ngForm"  class="example-container">
      <mat-form-field>

        <input matInput  placeholder="Nome cliente"   name="nome_cliente" [(ngModel)]="nome_cliente" ngModel  #searchTerm>

        <mat-icon matSuffix color="primary">face</mat-icon>
        <mat-error *ngIf="error">{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field>
      <input matInput placeholder="Username"    name="username" [(ngModel)]="username" ngModel #searchTerm2>
      <mat-icon matSuffix color="primary">account_circle</mat-icon>
      <mat-error *ngIf="error">{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Tipo d'accesso"  name="tipo_accesso" [(ngModel)]="tipo_accesso" ngModel #searchTerm3>
        <mat-icon matSuffix color="primary">business</mat-icon>
        <mat-error *ngIf="error">{{error}}</mat-error>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="modifica password"   [type]="hide ? 'password' : 'text'" required  [(ngModel)]="password" name="password"  ngModel>
          <mat-icon matSuffix color="primary" >vpn_key</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Note" name="note" [(ngModel)]="note" ngModel></textarea>
            <mat-icon matSuffix color="primary">note_add</mat-icon>

          </mat-form-field>
    <button mat-raised-button class="submit-button" type="submit" (click)="openDialog()"  >salva</button>
    </form>
    </div>
    </mat-card>
</div>
