<div id="body-wrapper">
<button mat-mini-fab  class="callback-button" routerLink='/ricerca'>
  <mat-icon  class="callback-icon" aria-label="Callback icon-button with a arrow icon">navigate_before</mat-icon>
</button>
<router-outlet name="criptogramma"></router-outlet>
<mat-card class="main-form">
    <div class="example-container">
  <!--  <form #g="ngForm" (ngSubmit)="onSubmit(g.value)" class="example-container"> -->
        <form #g="ngForm"  class="example-container">

        <mat-form-field>
            <input matInput placeholder="ID"   name="id" [(ngModel)]="id" ngModel>
            <mat-icon matSuffix>account_circle</mat-icon>
            </mat-form-field>
      <mat-form-field>

        <input matInput placeholder="Nome cliente" id="fieldName" name="nome_cliente" [(ngModel)]="nome_cliente" ngModel required>

        <mat-icon matSuffix>face</mat-icon>
      </mat-form-field>

      <mat-form-field>
      <input matInput placeholder="Username" required name="username" [(ngModel)]="username" ngModel>
      <mat-icon matSuffix>account_circle</mat-icon>
      </mat-form-field>

      <mat-form-field>
        <input matInput placeholder="Tipo d'accesso" name="tipo_accesso" [(ngModel)]="tipo_accesso" ngModel>
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>

      <mat-form-field>
          <input matInput placeholder="modifica password"  [type]="hide ? 'password' : 'text'" required id="fieldName" [(ngModel)]="password" name="password" ngModel>
          <mat-icon matSuffix >vpn_key</mat-icon>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Note" name="note" [(ngModel)]="note" ngModel></textarea>
            <mat-icon matSuffix>note_add</mat-icon>

          </mat-form-field>
    <button mat-raised-button class="submit-button" type="submit" [disabled]="g.invalid" (click)="openDialog(g.value)" >salva</button>
    </form>
    </div>
    </mat-card>
</div>
