<h1 matDialogTitle>Inserisci il tuo criptogramma </h1>
<mat-card-subtitle>per visualizzare i tuoi dati</mat-card-subtitle>
<form [formGroup]="myForm"  class="container">
  <mat-form-field class="container">
    <input matInput class="flex-children1" formControlName="password" placeholder="inserisci criptogramma" [(ngModel)]="criptogramma" name="criptogramma" required #searchTerm>


  </mat-form-field>
  <div *ngIf="myForm.get('password').status === 'PENDING'">
    Checking...
  </div>
  <div *ngIf="myForm.get('password').status === 'VALID'">
    😺
  </div>

 <div *ngIf="myForm.get('password').errors && myForm.get('password').dirty">
    😢 Oh no, il criptogramma inserito non esiste!
  </div>

  <a mat-raised-button id="decripta_button" class="flex-children2" (click)="sendData(searchTerm.value)"  [disabled]="myForm.invalid"   color="primary">Decripta</a>
</form>
$tEmErAr!O_
