<div id="body-wrapper">
 <button mat-mini-fab  class="callback-button" routerLink='/home'>
  <mat-icon  class="callback-icon" aria-label="Callback icon-button with a arrow icon">navigate_before</mat-icon>
 </button>


 <mat-card class="example-container">
  <form #r="ngForm" class="search-container">
    <mat-form-field>
      <input matInput placeholder="Nome cliente" id="fieldName" name="name" #searchTerm  ngModel>
        <mat-icon matSuffix>face</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo d'accesso" name="tipo_accesso" #searchTerm2  ngModel required>
        <mat-icon matSuffix>business</mat-icon>
      </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="criptogramma" name="password" #searchTerm3 ngModel>
        <mat-icon matSuffix>vpn_key</mat-icon>
    </mat-form-field>

          <button (click)="getName(searchTerm,searchTerm2,searchTerm3  )" mat-raised-button class="submit-button" type="submit" color="accent" >Trova</button>
    </form>
  </mat-card>
  </div>





<table>
    <thead>
      <tr>
        <th scope="col">nome cliente</th>
        <th scope="col">username</th>
        <th scope="col">tipo accesso</th>
        <th scope="col">criptogramma</th>
        <th scope="col">note</th>
        <th scope="clo">operations</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let res of this.results">
        <td>{{ res.nome_cliente }}</td>
        <td>{{ res.username }}</td>
        <td>{{res.tipo_accesso}}</td>
        <td>{{ res.password }}</td>
        <td>{{res.note}}</td>
        <td>
          <a mat-icon-button (click)="showDetails(res)" >
          <mat-icon matTooltip="Modifica i tuoi dati">mode_edit</mat-icon>  <!--{{selectedRes}} -->
          </a>
          <a mat-icon-button (click)="showDetails2(res)" >
            <mat-icon matTooltip="visualizza i tuoi dati">face</mat-icon>  <!-- {{selectedRes}} -->
            </a>
          </td>
      </tr>
    </tbody>
    </table>


