<!-- material table in progress

  <div class="table-container mat-elevation-z8" >
  <mat-table [dataSource]="datasource">
    <ng-container matColumnDef="position">
      <mat-header-cell *matHeaderCellDef> nome cliente </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.nome_cliente}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="name">
      <mat-header-cell *matHeaderCellDef> username </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.username}} </mat-cell>
    </ng-container>
    <ng-container matColumnDef="weight">
      <mat-header-cell *matHeaderCellDef> tipo accesso </mat-header-cell>
      <mat-cell *matCellDef="let row">{{row.tipo_accesso}}  </mat-cell>
    </ng-container>
    <ng-container matColumnDef="symbol">
      <mat-header-cell *matHeaderCellDef> criptogramma </mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.password}} </mat-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>
</div> -->



<div id="body-wrapper">
 <button mat-mini-fab  class="callback-button mat-elevation-z8" routerLink='/home'>
  <mat-icon  class="callback-icon" aria-label="Callback icon-button with a arrow icon">navigate_before</mat-icon>
 </button>
 <mat-card class="example-container">
  <form #r="ngForm" class="search-container">
    <mat-form-field>
      <input matInput placeholder="Nome cliente" [formControl]="myControl"  [matAutocomplete]="auto" id="fieldName" name="name" #searchTerm  ngModel>
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option  *ngFor="let res of filteredOptions | async" [value]="res.nome_cliente">
         {{res.nome_cliente}}
        </mat-option>
      </mat-autocomplete>
        <mat-icon matSuffix color="primary">face</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Tipo d'accesso" [formControl]="tipo_accessoControl" [matAutocomplete]="autoAccess" name="tipo_accesso" #searchTerm2  ngModel >
      <mat-autocomplete #autoAccess="matAutocomplete">
        <mat-option  *ngFor="let res of filteredOptions1 | async" [value]="res.tipo_accesso">
      {{res.tipo_accesso}}
        </mat-option>
      </mat-autocomplete>
        <mat-icon matSuffix color="primary">business</mat-icon>
      </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="criptogramma" name="password" #searchTerm3 ngModel>
        <mat-icon matSuffix color="primary">vpn_key</mat-icon>
    </mat-form-field>

          <button (click)="getName(searchTerm,searchTerm2,searchTerm3 )" mat-raised-button class="submit-button" type="submit" color="accent" >Trova</button>
    </form>
  </mat-card>



        <table cellspacing="0">
          <thead >
            <tr >
              <th>
                <div>nome cliente</div>
              </th>
              <th>
                <div>username</div>
              </th>
              <th>
                <div>tipo accesso</div>
              </th>
              <th>
                  <div>criptogramma</div>
              </th>
              <th>
                  <div>note</div>
              </th>
              <th>
                  <div>operations</div>
                </th>
            </tr>

          </thead>
          <tbody >
              <tr *ngFor="let res of this.rows">
                  <td>{{ res.nome_cliente }}</td>
                  <td>{{ res.username }}</td>
                  <td>{{res.tipo_accesso}}</td>
                  <td><span>{{res.password}}</span></td>
                  <!-- <button mat-icon-button ngxClipboard [cbContent]="res.password">
                  <mat-icon color="primary" matTooltip="copia il tuo criptogramma" (click)='openSnackBar()'>mode_edit</mat-icon>
                  </button> -->
                  <td>{{res.note}}</td>
                  <td>
                    <a mat-icon-button (click)="showDetails(res)" >
                    <mat-icon color="primary" matTooltip="Modifica i tuoi dati">mode_edit</mat-icon>
                    </a>
                    <a mat-icon-button (click)="showDetails2(res)" >
                      <mat-icon color="primary" matTooltip="visualizza i tuoi dati">face</mat-icon>
                      </a>
                    </td>
                </tr>

          </tbody>
          </table>
 </div>

