.main {
  margin: 2%;
}


.example-container {
  display: flex;
  flex-direction: row;

}

.example-container > * {
  width: 100%;
}


.callback-button {
  margin-top: 2%;
  margin-left: 2%;
  background-color: #FFFF00;
}

.callback-icon {
  color: black;
}

.line-break {
  word-break: keep-all;
  word-wrap: break-word;
}
