<button mat-mini-fab  class="callback-button" routerLink='/ricerca'>
<mat-icon  class="callback-icon" aria-label="Callback icon-button with a arrow icon">navigate_before</mat-icon>
</button>
<mat-card class="main">
  <div class="example-container">
<span><mat-icon>home</mat-icon>{{nome_cliente}}</span>
<span><mat-icon>business</mat-icon> {{tipo_accesso}}</span>
<span><mat-icon>account_circle</mat-icon> {{username}}</span>
<span><mat-icon>note_add</mat-icon> {{note}}</span>
<span><mat-icon>visibility</mat-icon> {{res}}</span>

  </div>
</mat-card>


