.main {
  margin-left: 7%;
  margin-top: 1%;
  margin-right: 2%;
}


.example-container {
  display: flex;
  flex-direction: row;

}

.example-container > * {
  width: 100%;
}


.callback-button {
  margin-top: 7%;
  margin-left: 7%;
  background-color: #FFFF00;
}

.callback-icon {
  color: black;
}

.line-break {
  word-break: keep-all;
  word-wrap: break-word;
}

.body-wrapper2 {
  background-image: url('../../assets/screensaver.png');
  background-repeat: no-repeat;
  margin: 0;
  opacity: 0.9;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-size:cover;
  background-position: center;
  height: 100%;
}
