.main-form {
  margin: 2%;
}


.example-container {
  display: flex;
  flex-direction: column;

}

.example-container > * {
  width: 100%;
}

.submit-button {
  width: 20%;

}


.callback-button {
  margin-top: 2%;
  margin-left: 2%;
}

.callback-icon {
  color: black;
}


#body-wrapper {
  background-image: url('../assets/screensaver.png');
  background-repeat: no-repeat;
  height: 650px;
}

