<div id="body-wrapper">
<button mat-mini-fab  class="callback-button" color="accent" routerLink='/home'>
  <mat-icon  class="callback-icon" aria-label="Callback icon-button with a arrow icon">navigate_before</mat-icon>
</button>

<mat-card class="main-form" [@fadeIn]="fadeIn">
    <mat-card-title color="primary">
        Crea criptogramma
    </mat-card-title>
    <mat-card-subtitle>Salva i tuoi dati in modo sicuro creando un criptogramma, ricordati di non inserire una combinazione di nome cliente,username e tipo d' accesso già inserito in precedenza </mat-card-subtitle>
    <div class="example-container">
    <form  #f="ngForm"  class="example-container">
      <mat-form-field>
        <input matInput  [formControl]="myControl"  [matAutocomplete]="auto" placeholder="Nome cliente" id="fieldName" [(ngModel)]="name" name="name" ngModel  #searchTerm required>
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option  *ngFor="let res of filteredOptions | async" [value]="res.nome_cliente">
           {{res.nome_cliente}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix color="primary">face</mat-icon>
      </mat-form-field>
      <span *ngIf="error"><mat-error>{{error}}</mat-error></span>

      <mat-form-field>
      <input   matInput placeholder="Username" [formControl]="usernameControl"  [(ngModel)]="username" name="username" ngModel #searchTerm2 required>

      <mat-icon matSuffix color="primary">account_circle</mat-icon>
      </mat-form-field>
      <span *ngIf="error"><mat-error>{{error}}</mat-error></span>

      <mat-form-field>
        <input matInput [formControl]="tipo_accessoControl" [matAutocomplete]="autoAccess" placeholder="Tipo d'accesso" [(ngModel)]="access" name="access" ngModel  #searchTerm3 required>
        <mat-autocomplete #autoAccess="matAutocomplete">
          <mat-option  *ngFor="let res of filteredOptions1 | async" [value]="res.tipo_accesso">
        {{res.tipo_accesso}}
          </mat-option>
        </mat-autocomplete>
        <mat-icon matSuffix color="primary">business</mat-icon>
      </mat-form-field>
      <span *ngIf="error"><mat-error>{{error}}</mat-error></span>

      <mat-form-field hintLabel="Max 15 characters">
          <input matInput #input placeholder="Enter your password" [type]="hide ? 'password' : 'text'" required maxlength="15" id="fieldName"  [(ngModel)]="password" name="password" ngModel>
          <mat-icon matSuffix color="primary" (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          <mat-hint align="end">{{input.value?.length || 0}}/15</mat-hint>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput placeholder="Note" name="note" [(ngModel)]="note" matAutosizeMinRows="5" ngModel></textarea>
            <mat-icon matSuffix color="primary">note_add</mat-icon>

          </mat-form-field>


      <button mat-raised-button class="submit-button" color="accent" type="submit" [disabled]="f.invalid " (click)="onSubmit(searchTerm,searchTerm2,searchTerm3)">Inserisci</button>


    </form>
    </div>


    </mat-card>
</div>


