

.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


#menu-button {

text-decoration: none;

}




.sidenav {
  z-index: 198;
}
.sidenav-open {
  width: 250px;
  background-color:#ffff00;

}

.mat-elevation-z8 {
  position: relative;
  z-index: 200;
}

.overflow-toolbar {
  height: 90%;
  width: 66px;
  position: absolute;
  z-index: 199;

}


.app-toolbar-filler {
	flex: 1 1 auto;
}

.close-sidenav {
	cursor: pointer;
}

mat-toolbar-row {
  display: flex;
  flex-direction: column;

}
.icon-size {
  flex: 0 1 auto;


}

.title {
  margin-left: 7%;
}





::ng-deep .mat-drawer-backdrop.mat-drawer-shown {
  background-color: transparent !important;
}


.menu-list {
  margin-left: 10%;

}

.menu-list2 {
  margin-left: 13%;

}
