.example-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}


#menu-button {
color: white;
text-decoration: none;
width: 100%;
}

#menu-button:active {
  background-color:#ffd740;
}


.sidenav-open {
  width: 300px;
  background-color: #34515e;
}

.mat-elevation-z8 {
  position: relative;
  z-index: 2;
}

mat-progress-spinner {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 1;
  transition: opacity 250ms linear;
}
