<mat-toolbar color="primary" class="mat-elevation-z8">
  <button mat-icon-button (click)="sidenav.toggle()" class="menu-icon">
   <mat-icon class="mat-24" color="accent" >menu</mat-icon>
  </button>
  <mat-button-toggle routerLink='/home'><h2>CryptoTemera</h2></mat-button-toggle>

</mat-toolbar>
<mat-sidenav-container >
  <mat-sidenav #sidenav mode="side" class="sidenav-open">
    <mat-list>
      <mat-list-item><a id="menu-button"  color="primary" mat-button routerLink='/criptogramma'><mat-icon>fingerprint</mat-icon>crea criptgramma</a></mat-list-item>
        <mat-divider></mat-divider>
      <mat-list-item><a id="menu-button" color="primary" mat-button  routerLink='/ricerca'><mat-icon>account_box</mat-icon>Recupero dati </a></mat-list-item>
        <mat-divider></mat-divider>
    </mat-list>
  </mat-sidenav>
 <div class="app-content">
  <router-outlet></router-outlet>
 </div>
</mat-sidenav-container>

