.app-loading {
  background: url('./assets/pattern2.png');

  .logo {
    width: 150px;
    height: 150px;

    // this way asset gets processed by webpack
    background: url('./assets/criptoTemeraLogo.png') center center no-repeat;
  }
}
