


.example-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#menu-button {
  width: 200px;
  height: 100px;
  line-height: 100px;
  }


  #body-wrapper {
    background-image: url('../../assets/screensaver.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 650px;
    margin: 0;
    opacity: 0.9;
  }



mat-icon {
font-size: 40px;
  height: 40px;
  width: 40px;
}


mat-elevation-z24 {

    position: relative;
    z-index: 2;

}




