
 <h1 matDialogTitle>Salve {{name}}</h1>

<mat-dialog-content>
  <mat-list>
    <h2 mat-subheader>I dati inseriti sono corretti?</h2>

    <mat-list-item>
     <h4 matLine>nome cliente : {{name}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
    <h4 matLine>username : {{username}}</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item>
        <h4 matLine>tipo accesso : {{access}}</h4>
       </mat-list-item>
       <mat-divider></mat-divider>
       <mat-list-item>
          <h4 matLine>note : {{note}}</h4>
         </mat-list-item>
         <mat-divider></mat-divider>
         <mat-list-item>
            <h4 matLine>password : {{password}}</h4>
           </mat-list-item>
           <mat-divider></mat-divider>
          </mat-list>

           <div  *ngIf="passwordCrypted" class="example-container">
              <h3 >Il tuo criptogramma è: </h3>
<mat-form-field>
  <textarea matInput matAutosizeMaxRows="3" [(ngModel)]="passwordCrypted" readonly="true" #searchTerm> </textarea>
</mat-form-field>
<div class="button-container">
  <button class="button" mat-raised-button color="accent" ngxClipboard [cbContent]="passwordCrypted" (click)="openSnackBar()">Copia Criptogramma</button>
  <a mat-raised-button class="button" (click)="sendData(searchTerm.value)"  color="primary">Decripta</a>
</div>
          <mat-divider></mat-divider>

           </div>





</mat-dialog-content>

<mat-dialog-actions>
    <button mat-raised-button  color="accent"  (click)="onClick()"  [disabled]="isDisabled" >Salva e Crea Criptogramma</button>
    <div *ngIf="isDisabled; else annulla">
    <button mat-raised-button color="warn" (click)="dialogRef.close('annulla')" routerLink="/home">Chiudi</button>
    </div>
    <ng-template #annulla>
    <button mat-raised-button color="warn" (click)="dialogRef.close('annulla')">Annulla</button>
    </ng-template>
</mat-dialog-actions>
